.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 80px;
  align-items: center;
}

.header__navigation {
  display: flex;
  gap: 56px;
}

.header__navigation a {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: #282a3a;
}

.header__buttons {
  display: flex;
  gap: 16px;
}

.toppage {
  display: flex;
  flex-direction: column;
  margin: 80px 0px;
  gap: 24px;
}

.toppage h1 {
  font-family: Playfair Display;
  font-size: 64px;
  font-weight: 500;
  line-height: 76.8px;
  text-align: center;
}

.toppage h3 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.toppage a {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 24px 48px;
  gap: 16px;
  border: none;
  border-radius: 0px 32px;
  background: #6d1600;
  text-decoration: none;
}

.toppage span {
  font-family: Playfair Display SC;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  color: #fff;
}

.toppage__images {
  display: flex;
  justify-content: center;
  margin: 80px 0px;
  gap: 16px;
}

.toppage__images img {
  max-width: 243px;
  width: 100%;
}

.toppage__images-left {
  border-radius: 0px 80px;
}

.toppage__images-right {
  border-radius: 80px 0px;
}

.toppage__blocks::before {
  content: "";
  display: block;
  width: 1120px;
  height: 1px;
  margin-bottom: 80px;
  background: linear-gradient(
    80deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.toppage__blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toppage__blocks-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.toppage__blocks-container-block {
  display: flex;
  flex-direction: column;
}

.toppage__blocks-container-block h2 {
  font-family: Inter;
  font-size: 64px;
  font-weight: 400;
  line-height: 76.8px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #282a3a;
}

.toppage__blocks-container-block h3 {
  font-family: Playfair Display;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
  color: #282a3a;
}

.toppage_blocks-container-line {
  content: "";
  width: 1px;
  display: flex;
  align-items: center;
  background: linear-gradient(
    80deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.toppage__blocks::after {
  content: "";
  display: block;
  width: 1120px;
  height: 1px;
  margin-top: 80px;
  background: linear-gradient(
    80deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.productspage {
  display: flex;
  flex-direction: column;
  margin: 80px 0px;
  align-items: center;
}

.productspage h3 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  color: #282a3a;
}

.productspage h2 {
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
  text-align: center;
  color: #282a3a;
}

.productspage__buttons {
  display: flex;
  align-items: center;
  margin-top: 88px;
  padding: 8px;
  border-radius: 40px;
  background: #f6f6f6;
}

.productspage__buttons a {
  padding: 14px 40px;
  text-decoration: none;
}

.productspage__buttons a:hover {
  border-radius: 40px;
  transition: all 0.3s ease;
  background: #fff;
}

.productspage__buttons span {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.02em;
  color: #282a3a;
}

.productspage__items {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 48px;
  gap: 24px;
}

.productspage__items-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.productspage__items-item img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 0px 40px;
}

.productspage__items-item-container {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  gap: 16px;
}

.productspage__items-item-container p {
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 33.6px;
  color: #282a3a;
}

.productspage__items-item-container-raiting {
  display: flex;
  align-items: center;
  gap: 8px;
}

.productspage__items-item-container-raiting h3 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #282a3a;
}

.productspage__items-item-container-raiting h4 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #282a3a;
}

.productspage__items-item h4 {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: #282a3a;
}

.productspage__items-item a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.productspage__items-item span {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #282a3a;
}

.productspage__dots {
  margin-top: 40px;
}

.productspage::after {
  content: "";
  display: block;
  width: 1120px;
  height: 1px;
  margin-top: 80px;
  background: linear-gradient(
    80deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.aboutpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0px;
}

.aboutpage h3 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  color: #282a3a;
}

.aboutpage h2 {
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
  text-align: center;
  color: #282a3a;
  margin-bottom: 80px;
}

.aboutpage__container {
  display: flex;
  gap: 80px;
}

.aboutpage__container-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.aboutpage__container-text h4 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #282a3a;
}

.aboutpage__container-text a {
  display: flex;
  margin-right: 320px;
  padding: 24px 48px;
  border-radius: 0px 32px;
  gap: 16px;
  text-decoration: none;
  background: #6d1600;
}

.aboutpage__container-text span {
  font-family: Playfair Display SC;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  color: #fff;
}

.aboutpage__container-images {
  display: flex;
  gap: 24px;
}

.aboutpage__container-images img {
  width: 288px;
  height: 442px;
}

.aboutpage__container-images-left img {
  padding-top: 64px;
  border-radius: 0px 120px;
}

.aboutpage__container-images-right img {
  padding-bottom: 64px;
  border-radius: 120px 0px;
}

.aboutpage::after {
  content: "";
  display: block;
  width: 1120px;
  height: 1px;
  margin-top: 80px;
  background: linear-gradient(
    80deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.testimonialpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0px;
}

.testimonialpage h3 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  color: #282a3a;
}

.testimonialpage h2 {
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
  text-align: center;
  color: #282a3a;
}

.testimonialpage__persons {
  display: flex;
  margin-top: 80px;
  gap: 72px;
}

.testimonialpage__persons-person {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.testimonialpage__persons-person-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.testimonialpage__persons-person-container img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.testimonialpage__persons-person-container-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.testimonialpage__persons-person-container-text h4 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #282a3a;
}

.testimonialpage__persons-person span {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #282a3a;
}

.testimonialpage__dots {
  margin-top: 40px;
}

.testimonialpage::after {
  content: "";
  display: block;
  width: 1120px;
  height: 1px;
  margin-top: 80px;
  background: linear-gradient(
    80deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.blogpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 0px;
}

.blogpage h3 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
  color: #282a3a;
}

.blogpage h2 {
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
  text-align: center;
  color: #282a3a;
}

.blogpage__blogs {
  display: flex;
  margin-top: 80px;
  gap: 32px;
}

.blogpage__blogs-blog {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 0px 96px 0px 40px;
}

.blogpage__blogs-blog img {
  width: 373px;
  height: 320px;
  object-fit: cover;
  border-radius: 0px 80px;
}

.blogpage__blogs-blog-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.blogpage__blogs-blog-container h5 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 0.02em;
  color: #282a3a;
}

.blogpage__blogs-blog-container-name {
  display: flex;
  align-items: center;
  gap: 8px;
}

.blogpage__blogs-blog-container-date {
  display: flex;
  align-items: center;
  gap: 8px;
}

.blogpage__blogs-blog h4 {
  font-family: Plus Jakarta Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 33.6px;
  color: #282a3a;
}

.blogpage__blogs-blog a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  gap: 8px;
}

.blogpage__blogs-blog span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: center;
  color: #282a3a;
}

.blogpage__button a {
  display: flex;
  align-items: center;
  margin-top: 80px;
  padding: 24px 48px;
  gap: 16px;
  text-decoration: none;
  border-radius: 0px 32px;
  background: #6d1600;
}

.blogpage__button span {
  font-family: Playfair Display SC;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  color: #fff;
}

.footer {
  display: flex;
  padding: 80px;
  gap: 80px;
  background: #282a3a;
  color: #fff;
}

.footer a {
  text-decoration: none;
}

.footer__credits {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer__credits-company {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer__credits-company h1 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
}

.footer__credits-description span {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.footer__credits-contact {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__container h2 {
  font-family: Playfair Display;
  font-size: 28px;
  font-weight: 400;
  line-height: 39.2px;
  text-align: center;
}

.footer__container-categories {
  display: flex;
  gap: 124px;
}

.footer__container-categories-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.footer__container-categories-category-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__container-categories-category-links span {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
}

.footer__container-category-feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.footer__container-category-feedback-field {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 24px;
  gap: 40px;
  border-radius: 16px;
  background: #393b49;
}

.footer__container-category-feedback-field-input {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__container-category-feedback-field-input input {
  width: 100%;
  outline: none;
  border: 1px solid #393b49;
  border-radius: 5px;
  caret-color: #fff;
  background: transparent;
}

.footer__container-category-feedback-field-input input::placeholder {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.footer__container-category-feedback-field-input input {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
}

.footer__container-category-feedback a {
  padding: 16px 64px;
  gap: 10px;
  border-radius: 8px;
  background: #6d1600;
}

.footer__container-category-feedback span {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
